.product img{
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
}
.product{
margin-top: 30px;
margin-left: 50px;
font-family: 'Lato';
width: 300px;
height: 508px;
border: 1px solid #95A0A7;
border-radius: 8px;
position: relative;
}
.product-info{
    padding: 0px 14px;
    line-height: 10px;
}
.btn-cart{
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    width: 300px;
    height: 48px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
.btn-cart:hover{
    background-color: orange;
}